/*--------------------------------*- C++ -*----------------------------------*\
| Generated automatically by foam_generator.py                               |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      DT;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

dimensions      [0 2 -1 0 0 0 0];

// Valoare implicita (primul strat); setFields va suprascrie per zona
internalField   uniform {{ DT_default }};

boundaryField
{
    ".*"
    {
        type            calculated;
        value           uniform {{ DT_default }};
    }
}

// ************************************************************************* //
