/*--------------------------------*- C++ -*----------------------------------*\
| Generated automatically by foam_generator.py                               |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      physicalProperties;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

// Difuzivitate termica medie initiala [m²/s]
// Valorile reale per strat sunt setate de setFields prin campul DT din /0/DT
DT              DT [ 0 2 -1 0 0 0 0 ] {{ DT_default }};

// ************************************************************************* //
